---
import { Layout } from "@features/layout/components/Layout";
import { toHTML } from "@portabletext/to-html";
import type { SanityAllPost } from "@features/blog/interfaces/SanityAllPost";
import fetchSanity from "@helpers/fetchSanity";
import { queryAllPosts } from "@features/blog/queries/queryAllPosts";
import { getPostsUrlParams } from "@features/blog/functions/getPostsUrlParams";
import { getHeadings } from "@features/blog/functions/getHeadings";
import { portableTextComponents } from "@helpers/portableTextComponents";
import { getGraphBlogPost } from "@helpers/getGraphBlogPost";
import { getBreadcrumbItems } from "@features/blog/functions";
import getPostComments from "@features/blog/functions/getPostsComments";

interface Props {
  post: any;
  params: {
    slug: {
      current: string;
    };
  };
}

export async function getStaticPaths() {
  const sanityProjects = await fetchSanity<SanityAllPost>(queryAllPosts);
  const params = sanityProjects && getPostsUrlParams(sanityProjects);

  return params;
}

const { post } = Astro.props;
if (!post) return;
const comments = await getPostComments(post._id);
const graphPost = getGraphBlogPost(post);
const postContent = toHTML(post.bodyRaw, {
  components: portableTextComponents,
});

const headings = getHeadings(post.bodyRaw || []);
const breadcrumbItems = getBreadcrumbItems(post);
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css"
/>
<Layout title={post.seoTitle}>
  <h1>{post.title}</h1>
</Layout>
