---
import { Layout } from "@components/Layout";
import type { SanityAllPost } from "@features/blog/interfaces/SanityAllPost";
import { queryAllPosts } from "@features/blog/queries/queryAllPosts";
import fetchSanity from "@helpers/fetchSanity";
import getMostRecentDate from "@helpers/getMostRecentDate";
import getPostsByCategory from "@helpers/getPostsByCategory";
import getSchemaBlogListing from "@helpers/getSchemaBlogListing";

const posts = await fetchSanity<SanityAllPost>(queryAllPosts);
if (!posts) return;
const mostRecentDate = getMostRecentDate(posts.allPost);

/* SEO */
const title =
  "Liste d'articles sur le développement informatique écrit par Johan Petrikovsky";
const description =
  "Des articles et des informations pour les développeurs Frontend qui veulent suivre l'actualité";
const schema = getSchemaBlogListing(mostRecentDate);

const postsNoDefinitions = posts
  ? posts.allPost.filter((post) => post.type !== "definition")
  : [];

const categoriesPosts = getPostsByCategory(postsNoDefinitions);
---

<Layout title={title}>
  <h1 class="font-semibold text-purple-900 mt-10 mb-6 text-4xl">Articles</h1>
  <!-- {
      categoriesPosts.map((categoryPosts) => (
        <ListingSection categoryPosts={categoryPosts} />
      ))
    } -->
</Layout>
