---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/ubuntu-mono";
import "@styles/index.scss";
import { Header } from "@features/layout/header/components/Header";
import { Footer } from "@features/layout/footer/components/Footer/";
import { Preloader } from "@features/layout/components/Preloader";
import { MenuMobile } from "@features/layout/menuMobile/components/MenuMobile";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <script src="../../../../scripts/lenis.ts"></script>
    <script>
      import { setDefaultBodyStyle } from "@features/layout/components/Preloader/Preloader.functions.ts";
      import { shouldAnimatePreloader } from "@functions/shouldAnimatePreloader.ts";
      import { setBodyBackground } from "./Layout.functions.ts";

      document.addEventListener("astro:after-swap", () => {
        // Définition de l'opacité du corps (body) à 1 après le changement de page
        document.body.style.opacity = "1";
      });

      document.addEventListener("astro:page-load", () => {
        const isPreloaderNeeded = shouldAnimatePreloader();
        setBodyBackground(isPreloaderNeeded);
      });
    </script>
    <script src="../../../../scripts//transitions.ts"></script>
  </head>

  <body style="opacity: 0;">
    <Preloader />
    <MenuMobile />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style lang="scss">
      main {
        padding-top: var(--spacing-4xl);
      }
    </style>
  </body>
</html>
