<div class="section-presentation">
  <h2 class="mini-title">Un expert Front-End Axé sur la qualité.</h2>

  <p>
    Spécialisé dans le développement front-end, je suis un défenseur des
    conventions de clean code, de l'architecture bien pensée, et de hautes
    performances. J'apprécie particulièrement rédiger des tests rigoureux pour
    garantir la fiabilité de mes projets.
  </p>

  <p>
    Mon engagement envers la qualité du code, l'efficacité et la satisfaction du
    client est inébranlable. Je suis un collaborateur engagé, prêt à transformer
    vos idées en réalité numérique.
  </p>

  <p>
    Si vous cherchez un développeur React freelance qui combine expertise
    technique, rigueur en matière de tests, et un engagement envers la qualité,
    je serais ravi de discuter de votre projet. Contactez-moi pour explorer
    comment nous pouvons travailler ensemble pour réaliser vos ambitions
    numériques.
  </p>
</div>

<style>
  .section-presentation {
    padding-left: 102.4rem;

    margin: var(--spacing-3xl) 0;

    @media screen and (max-width: 766px) {
      padding-left: 0;
      margin: var(--spacing-xxl) 0;
    }
  }
  p {
    margin: var(--spacing-lg) 0;
    font-size: 20px;
    line-height: 26px;
  }
</style>
