---

---

<script>
  import { masterFunction } from "./Preloader.functions";

  document.addEventListener("astro:page-load", masterFunction);
</script>

<div id="preloader" data-testid="preloader" class="preloader items d-none">
  <span class="preloader__item one op-0">Qualité</span>
  <span class="preloader__item two op-0">Robustesse</span>
  <span class="preloader__item three op-0">Performance</span>
</div>

<style lang="scss">
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-absolute-zero);
    z-index: 999;
  }

  .preloader__item {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    color: var(--color-romance);
    font-size: 15rem;
    font-family: var(--font-body);
    font-weight: bold;
  }
</style>
