:root {
  font-size: calc(100vw / 1920 * 10);
}

:selection {
  background: hsl(214 100% 35% / 100%);
  transition: all 0.1s linear;
}

::selection {
  background: hsl(214 100% 35% / 100%);
  transition: all 0.1s linear;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ebe5d6;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(214 100% 35% / 100%);
  transition: all 0.3s linear;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(214 100% 35% / 100%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montreal", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  background-color: var(--color-romance);
  color: var(--color-absolute-zero);
  font-size: clamp(14px, 1.4rem, 1.4rem);
}

a:visited {
  color: inherit; /* Cela prendra la couleur définie pour les liens non visités */
}

img {
  max-width: 100%;
  height: auto;
}
