.max-container {
  max-width: 100%;
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}

.op-0 {
  opacity: 0;
}

.o-hidden {
  overflow: hidden;
}

.d-none {
  display: none;
}

.relative {
  position: relative;
}
