:root {
  --font-heading: Grotesk, Impact, sans-serif;
  --font-body: Montreal, Helvetica, Roboto, sans-serif;

  --color-absolute-zero: hsl(214 100% 35% / 100%);
  --color-romance: hsl(42.86deg 38.89% 92.94%);

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-3xl: 64px;
  --spacing-4xl: 96px;
  --spacing-5xl: 128px;
  --spacing-6xl: 192px;
}
