---
import { Layout } from "@features/layout/components/Layout";
import { Introduction } from "@features/home/components/Introduction";
import { SectionPresentation } from "@features/home/components/SectionPresentation";
import { TitleHero } from "@features/home/components/TitleHero";
import { SectionServices } from "@features/home/components/SectionServices";
import Card from "../components/Card.astro";
---

<Layout title="Johan Petrikovsky développeur React Freelance à Toulouse">
  <div class="max-container">
    <Introduction />
    <TitleHero />
    <SectionPresentation />
    <SectionServices />
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
      above.
    </p>
    <ul role="list" class="list link-card-grid">
      <Card
        href="/p"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
        id="1"
      />
      <Card
        href="/documentation"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
        id="2"
      />
    </ul>
  </div>
</Layout>

<style>
  .list {
    margin-top: 150vh;
  }
  h1 {
    font-family: Grotesk;
  }
</style>
