---
import { Layout } from "@features/layout/components/Layout";
import { Introduction } from "@features/home/components/Introduction";
import { SectionPresentation } from "@features/home/components/SectionPresentation";
import { TitleHero } from "@features/home/components/TitleHero";
import { SectionServices } from "@features/home/components/SectionServices";
import { SectionProjets } from "@features/home/sectionProjets/SectionProjets";
---

<script>
  // import { addAstroEventListeners } from "@functions/addAstroEventListeners";

  // export function setColor() {
  //   document.documentElement.style.setProperty(
  //     "--color-absolute-zero",
  //     "hsl(214 100% 35% / 100%)",
  //   );
  // }

  // addAstroEventListeners(setColor);
</script>
<Layout title="Développeur React Freelance à Toulouse - Johan Petrikovsky ">
  <div class="max-container">
    <Introduction />
    <TitleHero />
    <SectionPresentation />
    <SectionServices />
    <SectionProjets />
  </div>
</Layout>
