---
import { Layout } from "@features/layout/components/Layout";
import { Introduction } from "@features/home/components/Introduction";
import { SectionPresentation } from "@features/home/components/SectionPresentation";
import { TitleHero } from "@features/home/components/TitleHero";
import { SectionServices } from "@features/home/components/SectionServices";
import { SectionProjets } from "@features/home/sectionProjets/SectionProjets";
---

<Layout title="Johan Petrikovsky développeur React Freelance à Toulouse">
  <div class="max-container">
    <Introduction />
    <TitleHero />
    <SectionPresentation />
    <SectionServices />
    <SectionProjets />
  </div>
</Layout>
