---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<li class="relative o-hidden">
  <a class="mobile__menu-item" href={href}>{label}</a>
</li>

<style>
  .mobile__menu-item {
    position: relative;
    display: block;
    color: var(--color-romance);
    font-family: var(--font-body);
    text-transform: uppercase;
    font-size: 12vw;

    font-family: var(--font-body);
    font-weight: bold;
  }
</style>
