<form data-testid="form-footer">
  <div class="grid-input">
    <div class="form-item">
      <label>Nom</label>
      <input required type="text" value="" />
    </div>
    <div class="form-item">
      <label>Prénom</label>
      <input required type="text" value="" />
    </div>
    <div class="form-item">
      <label>E-mail</label>
      <input required type="email" value="" />
    </div>
    <div class="form-item">
      <label>Entreprise</label>
      <input required type="text" value="" />
    </div>
  </div>
  <div class="wrapper-textarea">
    <div class="form-item">
      <label>Message</label>
      <textarea id="story" name="story" rows="5"></textarea>
    </div>
  </div>
  <button class="submit" type="submit">
    <span>Envoyer</span>
  </button>
</form>

<style lang="scss">
  .grid-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xl);
  }

  .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-lg);
  }

  label {
    margin-bottom: var(--spacing-md);
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  input {
    height: var(--spacing-3xl);
  }

  input,
  textarea {
    background: transparent;
    border: 1px solid var(--color-absolute-zero);
    border-radius: var(--spacing-xxl);
    color: var(--color-absolute-zero);
    padding: 0 var(--spacing-md);
    font-family: var(--font-body);
    font-size: 18px;
  }

  .wrapper-textarea {
    margin-top: var(--spacing-md);
  }

  textarea {
    padding-top: var(--spacing-md);

    width: 100%;
    height: var(--spacing-4xl);
  }

  .submit {
    position: relative;
    display: inline-block;
    height: var(--spacing-3xl);

    font-family: var(--font-heading);
    font-size: 3.2rem;
    border: 1px solid var(--color-absolute-zero);
    border-radius: 3rem;
    overflow: hidden;
    // color: var(--color-absolute-nomad);
    color: #fffb00;

    span {
      position: relative;
      mix-blend-mode: difference;
      text-transform: uppercase;
      padding: 0 4rem;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      content: "";
      background: var(--color-absolute-zero);
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }
  }

  button:hover::before {
    transform: translate3d(0, -100%, 0);
  }
</style>
