<script>
  import { masterAnimation } from "./ButtonMenu.animation";

  document.addEventListener("astro:page-load", masterAnimation);
</script>

<button
  data-testid="button-menu"
  class="button-menu relative o-hidden"
  id="button-menu"
  aria-expanded="false"
  aria-controls="menu"
>
  <span id="text-menu" class="text text-menu" aria-hidden="false">Menu</span>
  <span id="text-fermer" class="text text-fermer" aria-hidden="true"
    >Fermer</span
  >
</button>

<style lang="scss">
  .button-menu {
    display: none;

    @media screen and (max-width: 1024px) {
      position: relative;
      z-index: 910;
      display: inherit;
      min-width: 42px;
      min-height: 15px;
      display: inline-block;

      text-align: right;
      padding: 0;
      color: var(--color-absolute-zero);
      border: none;
      background: none;
    }
  }

  .text {
    position: absolute;
    top: 0;
    right: 0;
  }

  .text-fermer {
    color: var(--color-romance);
  }
</style>
