---
import { Layout } from "@features/layout/components/Layout";
import { TemplateProject } from "@features/project/components/Template";

export async function getStaticPaths() {
  const projets = [
    {
      id: 1,
    },
    {
      id: 2,
    },
    {
      id: 3,
    },
    {
      id: 4,
    },
  ];
  return projets.map((photo) => ({ params: { id: photo.id } }));
}
---

<Layout title="Documentation.">
  <div class="max-container">
    <TemplateProject />
  </div>
</Layout>
