---
import { Layout } from "@features/layout/components/Layout";

export async function getStaticPaths() {
  const projets = [
    {
      id: 1,
    },
    {
      id: 2,
    },
    {
      id: 3,
    },
    {
      id: 4,
    },
  ];
  return projets.map((photo) => ({ params: { id: photo.id } }));
}

const { id } = Astro.params;
---

<Layout title="Documentation.">
  <div class="max-container">
    <h1>Projet {id}</h1>
    <div class="illu">
      <img
        transition:name={`photo-${id}`}
        src="/assets/images/bien-estimer.webp"
      />
    </div>
  </div>
</Layout>
