<script>
  import { addAstroEventListeners } from "@functions/addAstroEventListeners";
  import gsap from "gsap";

  function animateService() {
    const services = document.querySelectorAll("#service-list .service-item");
    services.forEach((service) => {
      const tl = gsap.timeline({ paused: true }).to(service, {
        translateX: 30,
        duration: 0.33,
        ease: "expo.inout",
      });

      service.addEventListener("mouseenter", () => {
        tl.play();
      });
      service.addEventListener("mouseleave", () => {
        tl.reverse();
      });
    });
  }

  addAstroEventListeners(animateService);
</script>

<section
  data-testid="section-services"
  class="section-services spacing-section"
  aria-label="section services"
>
  <h2 class="title-mini">Des services adaptés à vos besoins</h2>
  <ul id="service-list" class="service-list">
    <li class="service-item">Développement d'appplications React</li>
    <li class="service-item">Refonte d'appplications React</li>
    <li class="service-item">Optimisation des performances</li>
    <li class="service-item">Mise en place d'un design system</li>
    <li class="service-item">Audit SEO Technique</li>
  </ul>
</section>

<style lang="scss">
  @import "@styles/mixins.scss";

  .service-item {
    font-size: clamp(18px, 4rem, 4rem);
    line-height: 4.8rem;
    font-variation-settings: "wght" 500;
    margin-bottom: var(--spacing-md);

    @include mobile-large {
      line-height: 18px;
    }
  }
</style>
