<section class="section-services" aria-label="section services">
  <h2 class="mini-title">Des services adaptés à vos besoins</h2>
  <ul class="service-list">
    <li class="service-item">Développement d'appplications React</li>
    <li class="service-item">Refonte d'appplications React</li>
    <li class="service-item">Optimisation des performances</li>
    <li class="service-item">Mise en place d'un design system</li>
    <li class="service-item">Audit SEO Technique</li>
  </ul>
</section>

<style lang="scss">
  .service-item {
    margin-bottom: var(--spacing-xl);

    font-size: clamp(18px, 4rem, 4rem);
    line-height: 32px;
    font-variation-settings: "wght" 500;

    @media screen and (max-width: 766px) {
      line-height: 18px;

      margin-bottom: var(--spacing-md);
    }
  }
</style>
